--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
fastapi
uvicorn
python-multipart
yt-dlp
openai-whisper
easyocr
ultralytics
numpy
imageio-ffmpeg
scikit-learn
nltk
setuptools
static-ffmpeg
opencv-python